.global-font-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.global-font-size {
  font-size: 14px;
}

.global-font-sub-title {
  font-family: Marker Felt, fantasy;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
.global-font-family {
  font-family: "Roboto", sans-serif;
}
