.Home-name-font {
  color: rgb(17, 59, 94);
}

.Home-sub-font {
  color: rgb(16, 50, 78);
}

.Home-font-color {
  color: rgb(32, 70, 102);
  width: 9rem;
  margin-top: 0.1rem;
}

.Home-font-color:hover {
  box-shadow: 0.5em 0.35em 0px -2px white, 0.5em 0.35em 0px 1px rgb(32, 70, 102);
  border: solid 3px;
}

.Home-btn-bg:hover {
  background-color: rgb(125, 212, 239);
}
